<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-calendar [(ngModel)]="date"
  (onChange)="onChange($event)"
  [options]="options"
  [type]="type"
  [format]="'YYYY-MM-DD'">
</ion-calendar>

</ion-content>
